PRIVATE_KEY_1=0x... # Used for both deployment of decryption contracts and within integration tests
PRIVATE_KEY_2=0x... # Used for integration tests, specifically with the sealed bid auction example
rpc_url=https://sepolia-rollup.arbitrum.io/rpc
DEPLOYED_DECRYPTER_ADDRESS=... # Obtained after deploying decryption contracts using stylus